* {
  box-sizing: border-box;
}

body {
  color: #777777;
  background-image: url("../images/concrete_seamless.png");
}

/* ----- HEADER ----- */
header {
  background-color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 2px solid #dddddd;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #4aaaa5;
}

/* ----- NAV BAR -----  */
.nav a {
  font-size: 16px;
  color: #777777;
  /* text-decoration: none; */
  border-left: 1px solid #efefef;
  padding-left: 20px;
}

main {
  width: 960px;
  background-color: white;
  border: 1px solid #dddddd;
  position: relative;
  top: 70px;
  font-size: 14px;
}

main p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #777777;
}

h2 {
  color: #4aaaa5;
  padding: 30px 0 10px 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #dddddd;
  font-size: 20px;
  font-weight: bold;
  font-family: "Georgia", Times, Times New Roman, serif;
}

/* ----- FOOTER ----- */
footer {
  border-top: 3px solid #4aaaa5;
  width: 100%;
  bottom: 0px;
  position: fixed;
  background-color: #666666;
  height: 60px;
}

footer p {
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  position: relative;
  top: 15px;
}

/*----- Main section (for Portfolio and Contact pages) ----- */
.main-section {
  width: 100%;
  max-width: 960px;
  height: auto;
  /* padding: 30px; */
  background: #ffffff;
  border: 1px solid #dddddd;
  position: relative;
  overflow: auto;
}

.card-deck {
  padding: 20px 40px;
}

.card img {
  width: 200px;
  height: 140px;
  border: 1px solid #dddddd;
  opacity: 0.8;
}

.card-body {
  height: 15px;
  background-color: #4aaaa5;
}

.card-title {
  font-size: 13px;
  color: #ffffff;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  vertical-align: center;
}

/*----- CONTACT PAGE -----*/

form {
  margin: 20px;
}

#formGroupExampleInput3 {
  height: 250px;
}