* {
  box-sizing: border-box;
}

body {
  line-height: 30px;
  color: #777777;
  background-image: url("../images/concrete_seamless.png");
}

/* ----- HEADER ----- */
header {
  background-color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 2px solid #dddddd;
}

h1 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #4aaaa5;
  /* padding: 10px 10px; */
}

/* ----- NAV BAR -----  */
.nav a {
  font-size: 16px;
  color: #777777;
  text-decoration: none;
  border-left: 1px solid #efefef;
  padding-left: 30px;
}

main {
  width: 960px;
  background-color: white;
  border: 1px solid #dddddd;
  position: relative;
  top: 70px;
  font-size: 14px;
  /* line-height: 22px; */
}

#photo {
  float: left;
  padding: 10px;
}

h2 {
  color: #4aaaa5;
  padding: 30px 0 10px 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #dddddd;
  font-size: 18px;
  font-weight: bold;
  font-family: "Georgia", Times, Times New Roman, serif;
}

/* ----- FOOTER ----- */
footer {
  border-top: 3px solid #4aaaa5;
  width: 100%;
  bottom: 0px;
  position: fixed;
  background-color: #666666;
  height: 60px;
}

footer p {
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  position: relative;
  top: 15px;
  }

/* main section (for Portfolio and Contact pages) */

.main-section {
  width: 100%;
  max-width: 960px;
  height: 720px;
  padding: 30px;
  margin: 100px 0 130px;
  background: #ffffff;
  border: 1px solid #dddddd;
  position: relative;
}

/* ----- PORTFOLIO PAGE ----- */

/* .work { */
  /* position: relative; */
  /* float: left; */
  /* width: 274px; */
  /* margin: 20px 0 25px; */
  /* overflow: auto; */
/* } */

/* .card:nth-child(even) { */
  /* margin-right: 50px; */
/* } */

.card img {
  width: 200px;
  height: 160px;
  border: 1px solid #dddddd;
  opacity: 0.8;
}

.card h5 {
  position: absolute;
  bottom: 20px;
  width: 185px;
  padding: 8px;
  margin-bottom: 0;
  color: #ffffff;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  background: #4aaaa5;
}

/* CONTACT PAGE */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 12px;
  /* color: red; */
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}